#square1 {
    background-color: rgba(0, 255, 0, 0.3);
    border: none;
    float: left;
    padding: 200px 25%;
}
#square2 {
    background-color: rgba(255, 0, 0, 0.3);
    border: none;
    float: right;
    padding: 200px 25%;
}
#square3 {
    background-color: rgba(255, 255, 0, 0.3);
    border: none;
    float: left;
    padding: 200px 25%;
}
#square4 {
    background-color: rgba(0, 0, 255, 0.3);
    border: none;
    float: right;
    padding: 200px 25%;
}
#readyup {
    position: absolute;
    width: 10%;
    height: 5%;
    margin: 0;
    bottom: 5%;
    left: 45%;
}